<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>404 Not Found Error - {{@blog.title}}</title>
    {{> meta}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/uno.css"}}" />
    {{ghost_head}}
  </head>
  <body>
    <article>
      <section>
        <div class="astro-wrap">
        </div>
        <div class="mayday">
          <h1>
          404 Not Found Error.
          </h1>
          <hr class="divider short">
        </div>
        <div class="astro-options">
          <a id="safe-button" class="btn-error small" href="/">Home</a>
        </div>
      </section>
    </article>
    {{ghost_foot}}
    <script type="text/javascript" src="{{asset "js/uno.js"}}"></script>
    {{> google-analytics}}
  </body>
</html>
